@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #212123;
  --red: #c1121f;
  --cream: #ECB9A4;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--dark);
  --color-red: var(--red);
  --color-cream: var(--cream);
  --font-poppins: var(--font-poppins);
  --font-newsreader: var(--font-newsreader);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hover-effect-underline {
  position: relative;
  display: inline-block;
}

.hover-effect-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: white;
  transition: all 0.3s ease;
}

.hover-effect-underline:hover::after {
  width: 100%;
}
